@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800;900&display=swap'); 
@import "tailwindcss";

@theme {
  /* Theme colour variables */
  --color-bg-primary: #0F0F0F; 
  --color-bg-secondary: #101A1A; 
  --color-text-primary: #FFFFFF; 
  --color-brand: #D7FA00;
  --color-accent: #5E17EB; 
}

@utility text-glow-white {
  @apply relative;
  text-shadow: 0 0 50px #777777; 
}

@utility glow-white {
  @apply relative;
  box-shadow: 0 0 10px #FFFFFF; 
}

@utility transparent-button {
  @apply border border-accent text-text-primary hover:bg-bg-primary/10 font-medium
         transition-all duration-300 hover:scale-[1.04] active:scale-95
         px-6 py-3 rounded-full hover:shadow-[0_0_10px_rgba(139,92,246,0.5)];
}

@utility link-hover {
  @apply transition duration-200 hover:scale-[1.06] hover:shadow-lg;
}


:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--color-text-primary); 
  background-color: var(--color-bg-primary); 

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
