@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800;900&display=swap'); 
@import "tailwindcss";

@theme {
  /* Theme colour variables */
  --color-bg-primary: var(--color-bg-primary); 
  --color-bg-secondary: var(--color-bg-secondary); 
  --color-text-primary: var(--color-text-primary); 
  --color-text-secondary: var(--color-text-secondary); 
  --color-brand: var(--color-brand); 
  --color-accent: #5E17EB; 
}

@utility text-glow-white {
  @apply relative;
  text-shadow: 0 0 50px #777777; 
}

@utility glow-white {
  @apply relative;
  box-shadow: 0 0 10px #FFFFFF; 
}

@utility transparent-button {
  @apply border border-brand text-text-primary hover:bg-bg-primary/10 font-medium
         transition-all duration-300 hover:scale-[1.03] active:scale-95
         px-6 py-3 rounded-full hover:shadow-[0_0_8px_var(--color-brand)];
}

@utility brand-button {
  @apply bg-brand text-text-secondary font-medium
         transition-all duration-300 hover:scale-[1.02] active:scale-95
         px-6 py-2 rounded-full hover:shadow-[0_0_8px_var(--color-brand)];
}

@utility link-hover {
  @apply transition duration-200 hover:scale-[1.06];
}

@utility radial-bg {
  @apply bg-radial from-bg-primary from-50% via-bg-primary/80 to-brand/10; 
}

@utility card-hover {
  @apply transition duration-300 hover:scale-[1.02] shadow; 
}

@layer base {
  :root {
    --color-bg-primary: #FAFAFA;
    --color-bg-secondary: #EEEEEE; 
    --color-text-primary: #1A1A1A;
    --color-text-secondary: #FFFFFF; 
    --color-brand: #168201; /* #7BA600; */ 

    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    color: var(--color-text-primary); 
    background-color: var(--color-bg-primary); 
    color-scheme: light dark;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .dark {
    --color-bg-primary: #0F0F0F; 
    --color-bg-secondary: #101A1A; 
    --color-text-primary: #FFFFFF; 
    --color-text-secondary: #1A1A1A; 
    --color-brand: #D7FA00; 
  }
}
